<!DOCTYPE html>
<html>
  <head>
    <title>Tickets2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div id="log_in_out"></div>
    <div id="content"></div>
    <%= yield %>
  </div>
  </body>
</html>
